.button {
  padding: 8px 20px;
  font-family: "Montserrat", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;

  &--primary {
    color: @color-base-white;
    background-color: @color-base-primary;

    &:hover {
      background-color: @color-primary-lighter;
    }

    &:active {
      background-color: @color-primary-darker;
    }

    &:disabled {
      background-color: @color-base-grey;
    }
  }

  &--secondary {
    color: @color-base-primary;
    background-color: @color-base-white;

    &:hover {
      background-color: @color-primary-lighter;
    }

    &:active {
      background-color: @color-primary-darker;
    }

    &:disabled {
      background-color: @color-light-grey;
    }
  }

  &--to-cart {
    padding: 8px 20px 8px 40px;
    background-image: url("../../img/icons/stack.svg#cart");
    background-repeat: no-repeat;
    background-position: left 18px center;
    background-size: 16px;
    font-size: 14px;
    line-height: 20px;
  }
}
