.card {
  padding: 40px 20px 20px;
  background-color: @color-base-white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__title {
  margin-top: 24px;
  width: 100%;
  .font-title-h3();
}

.card__description {
  margin-top: 4px;
}

.card__buy-wrapper {
  margin-top: 18px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__price {
  .font-price();
}
