.catalog {
  background-color: @color-lightest-grey;
}

.catalog__badge {
  padding-top: 50px;
  display: block;
  text-align: center;
}

.catalog__title {
  text-align: center;
}

.catalog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px 40px;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
  }
}

.catalog__filter_form {
  padding-top: 20px;
}

.catalog__content-wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
  }
}
