.features__container {
  padding: 50px 20px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding: 0 30px 100px;
    margin-top: -48px;
  }

  @media (min-width: @desktop-width) {
    padding: 100px 40px 120px;
    margin-top: 0;
  }
}

.features__title {
  margin: 4px 0 0;
  .font-title-h2();
}

.features__list {
  display: grid;
  margin: 0;
  list-style-type: none;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 32px;
  padding: 36px 0 0;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    column-gap: 30px;
    padding-top: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 0;
    padding-top: 80px;
  }
}

.features__item {
  padding-top: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    align-items: flex-start;
  }

  &::before {
    content: "";
    width: 52px;
    height: 56px;
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--speed::before {
    background-image: url("../../img/features/speed.svg");
  }

  &--fit::before {
    background-image: url("../../img/features/fit.svg");
  }

  &--energy::before {
    background-image: url("../../img/features/energy.svg");
  }

  &--eco::before {
    background-image: url("../../img/features/eco.svg");
  }

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    padding-top: 0;
    padding-left: 72px;

    &::before {
      left: 0;
    }
  }
}

.features__item-title {
  margin: 0;
  .font-title-h3();

  @media (min-width: @desktop-width) {
    padding-top: 10px;
  }
}

.features__item-description {
  margin: 0;
  padding-top: 4px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-top: 10px;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
  }
}

.features__badge {
  .font-badge();
}
