.main-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  background-color: @color-base-white;
  padding: 0 20px;
  position: relative;

  @media (min-width: @desktop-width) {
    padding: 0 40px;
  }
}

.main-nav__logo {
  margin-right: auto;

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.main-nav__list {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    gap: 20px;
  }

  @media (max-width: @tablet-width) {
    &--nojs,
    &--opened {
      position: absolute;
      left: 0;
      top: 60px;
      display: block;
      width: 100%;
      text-align: center;
      background-color: @color-base-white;
      z-index: 2;

      .main-nav__link {
        display: inline-block;
      }
    }
  }
}

.main-nav__item {

  &--current {
    @media (min-width: @tablet-width) {
      color: @color-base-primary;
      position: relative;
      box-sizing: border-box;
      border-bottom: 2px solid @color-base-primary;
    }
  }
}

.main-nav__link {
  padding: 10px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.main-nav__user-list {
  display: flex;

  @media (min-width: @tablet-width) {
    margin-left: auto;
  }

  @media (min-width: @desktop-width) {
    gap: 20px;
  }
}

.main-nav__user-link {
  display: block;
  min-width: 60px;
  min-height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  text-transform: uppercase;
  font-weight: 500;

  &--profile {
    background-image: url("../../img/icons/stack.svg#user");
  }

  &--cart {
    background-image: url("../../img/icons/stack.svg#basket");
  }

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
    background-position: left;

    .main-nav__text {
      padding-left: 24px;
    }
  }
}

.main-nav__toggle {
  min-width: 60px;
  min-height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  background-image: url("../../img/icons/stack.svg#menu");
  background-color: transparent;

  &--nojs {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__text {
  display: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: @desktop-width) {
    display: block;
  }
}
