.noUi-target {
  background: @color-light-grey;
  border-radius: 0;
  border: 0;
  box-shadow: 0;
  margin: 20px;
}

.noUi-horizontal {
  height: 2px;
}

.noUi-connect {
  background: @color-base-primary;
}

.noUi-horizontal .noUi-handle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid @color-base-primary;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
}

.noUi-handle:before,
.noUi-handle:after {
display: none;
}

