.slider__pagination {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.slider__navigation {
  color: @color-base-primary;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    top: 35%
  }
}
